body{
    margin: 0px;
}

header{
    background-color: hsl(0, 0%, 45%);
    text-align: center;
    padding: 20px;
}

.navbar{
    height: 50px;
    background-color: black;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 38%;
    float: left;
    padding: 10px;
}

article{
    width: 37%;
    padding: 10px;
    float: left;
    
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 45%);
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
    }
}
    
